@model CrudAsp.resource.response.CinemaResponse

<head>
    <!-- Add Local Select2 CSS -->
    <link href="@Url.Content("~/css/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/cinema/cinema-details.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/jquery.dataTables.min.css")" rel="stylesheet" />
    

</head>

<div class="container mt-2">
    <h2>@Model.CinemaName</h2>
    <h2>@Model.Location</h2>

    <table class="table" id="hTable">
        <thead>
            <tr>
                <th>Hall Name</th>
                <th>Seat Capacity</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <a class="btn btn-secondary" asp-controller="Cinema" asp-action="Index">Back</a>


    <div class="modal  fade" id="btnHallShow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex flex-column">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">@Model.CinemaName</h1>
                        <small>@Model.Location</small>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <select name="selMovie" id="selMovie" class="form-control w-100">
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Time</label>
                            <input type="time" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Duration</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-sm btn-primary" id="btnAddShow" data-bs-dismiss="modal">Add</button>
                    </div>
                    <hr>
                    <br>
                    <div class="row">
                        <table class="table table-hover" id="sTable">
                            <thead>
                                <th>Title</th>
                                <th>Time</th>
                                <th>Duration</th>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary me-2" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/axios.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/js/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/js/select2.min.js")"></script>
    <script src="@Url.Content("~/js/select2.js")"></script>
    <script src="@Url.Content("~/js/app/show/hall-details.js")"></script>
}