@model List<CrudAsp.resource.response.MovieResponse>

<link rel="stylesheet" href="~/css/movie/font-awesome.min.css">
<link rel="stylesheet" href="~/css/movie/font-awesome.css">
@* <div class="d-flex justify-content-end mb-3">
    <a class="btn btn-primary" asp-controller="Movie" asp-action="Create">Add Movie</a>
</div> *@

@* <div class="card bg-transparent border-0 mb-2">
    <div class="card-body p-0">
        <div id="movieCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @for (var i = 0; i < Model.Count; i++)
                {
                    <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"
                            aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
                }
            </div>


            <div class="carousel-inner h-100">
                @for (var i = 0; i < Model.Count; i++)
                {
                    var movie = Model[i];
                    <div class="carousel-item position-relative h-100  @(i == 0 ? "active" : "")">
                        <img class="w-100 h-100 d-block carousel-image"
                            src="@Url.Content("~/app/images/movie/" + System.IO.Path.GetFileName(movie.MovieImages.FirstOrDefault()?.Path))"
                            alt="@movie.Title"
                            style="" />
                        
                        <!-- Overlay Text for Title and Description -->
                        <div class="carousel-caption text-start" style="color: white; font-size: 20px; text-shadow: 3px 3px black;">
                            <h5>@movie.Title</h5>
                            <p>@movie.Description</p>
                        </div>
                    </div>
                }
            </div>

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div> *@
<div class="banner">
    <div class="content">
        <h1>Movie 1</h1>
        <h4>
            <span>2023</span>
            <span>12+</span>
            <span>2h 14min</span>
        </h4>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est perferendis illo recusandae minima tempora, odit vitae corrupti hic rem magni et eligendi veniam autem perspiciatis quia dignissimos iusto consequuntur delectus!
        </p> 
        <div class="d-flex">
            <button class="btn btn-primary">Watch </button>
            <button class="btn btn-primary ">My list</button>
        </div>
    </div>
    <div class="carousel-box"></div>
    <a class="play" href="#">Watch Trailer</a>
    <ul>
        <li><a href=""><i class="fab fa-facebook"></i></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</div>

<div class="movie-container row">
    @foreach (var movie in Model)
    {
        <div class="col mb-2">
            <div class="card shadow w-40">
                @if (movie.MovieImages != null && movie.MovieImages.Any())
                {
                    // Display the first image from the MovieImages collection using relative path
                    <img class="card-img-top"
                    src="@Url.Content("~/app/images/movie/" + System.IO.Path.GetFileName(movie.MovieImages.FirstOrDefault()?.Path ))"
                    alt="@movie.Title"
                    style="max-width: 600px; object-fit: cover;" />
                    <div class="row">
                        <a  class="btn btn-outline-primary col-6" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">Manage</a>
                        <a  class="btn btn-outline-warning col-6" asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">Buy Ticket</a>
                    </div>
                }
            </div>
        </div>
    }
    <div class="col text-center align-content-center mt-4">
        <a class="btn btn-primary" asp-controller="Movie" asp-action="Create"><i class="bi bi-plus-circle-fill"></i></a>
    </div>
</div>
